/* you have to use css comments for your comment to show in the .css file */
main {
  background: tomato;
  font-family: "Trebuchet MS", sans-serif; }
  main > h1 {
    font-size: 3em;
    color: whitesmoke; }

.entry {
  width: 75%;
  margin: 0 auto; }
  .entry p {
    background-color: darkblue;
    color: whitesmoke; }
  .entry h1 {
    font-size: 1.5em;
    color: darkblue; }
  .entry a {
    color: tomato; }

aside {
  margin: 0 auto;
  border-radius: 0.1em;
  border-color: darkblue;
  border-top-right-radius: 0.4em;
  border-bottom-left-radius: 0.4em; }
  aside a {
    color: green; }
    aside a:hover {
      color: whitesmoke; }

button {
  border-radius: 0.3em;
  border-color: darkblue;
  border-top-right-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  background: whitesmoke; }

nav {
  height: 20px;
  width: 100%; }
  nav > div {
    float: left; }

nav {
  background-color: whitesmoke; }

.module {
  padding: 15px;
  width: 57.14286%; }

.blue {
  color: blue;
  background: url("images/blue.jpg") no-repeat; }

.red {
  color: red;
  background: url("images/red.jpg") no-repeat;
  border: 1px solid black; }

.yellow {
  color: yellow;
  background: url("images/yellow.jpg") no-repeat; }

.green {
  color: green;
  background: url("images/green.jpg") no-repeat; }

.block {
  padding: 0px; }

.div {
  padding: 20px; }

.meep {
  display: block; }

.for-1 {
  width: 61px; }

.for-2 {
  width: 62px; }

.for-3 {
  width: 63px; }

.for-4 {
  width: 64px; }

.for-5 {
  width: 65px; }

.for-6 {
  width: 66px; }

.for-7 {
  width: 67px; }

.for-8 {
  width: 68px; }

.for-9 {
  width: 69px; }

.for-10 {
  width: 70px; }

.for-11 {
  width: 71px; }

.for-12 {
  width: 72px; }

.for-13 {
  width: 73px; }

.for-14 {
  width: 74px; }

.for-15 {
  width: 75px; }

.for-16 {
  width: 76px; }

.for-17 {
  width: 77px; }

.for-18 {
  width: 78px; }

.for-19 {
  width: 79px; }

.for-20 {
  width: 80px; }

.for-21 {
  width: 81px; }

.for-22 {
  width: 82px; }

.for-23 {
  width: 83px; }

.for-24 {
  width: 84px; }

.for-25 {
  width: 85px; }

.for-26 {
  width: 86px; }

.for-27 {
  width: 87px; }

.for-28 {
  width: 88px; }

.for-29 {
  width: 89px; }

.for-30 {
  width: 90px; }

.for-31 {
  width: 91px; }

.for-32 {
  width: 92px; }

.for-33 {
  width: 93px; }

.for-34 {
  width: 94px; }

.for-35 {
  width: 95px; }

.for-36 {
  width: 96px; }

.for-37 {
  width: 97px; }

.for-38 {
  width: 98px; }

.for-39 {
  width: 99px; }

.for-40 {
  width: 100px; }

.for-41 {
  width: 101px; }

.for-42 {
  width: 102px; }

.for-43 {
  width: 103px; }

.for-44 {
  width: 104px; }

.for-45 {
  width: 105px; }

.for-46 {
  width: 106px; }

.for-47 {
  width: 107px; }

.for-48 {
  width: 108px; }

.for-49 {
  width: 109px; }

.for-50 {
  width: 110px; }

.box {
  width: 100%;
  height: 20px; }

.box:nth-child(1) {
  background: #fcfcfc; }

.box:nth-child(2) {
  background: #fafafa; }

.box:nth-child(3) {
  background: #f7f7f7; }

.box:nth-child(4) {
  background: whitesmoke; }

.box:nth-child(5) {
  background: #f2f2f2; }

.box:nth-child(6) {
  background: #f0f0f0; }

.box:nth-child(7) {
  background: #ededed; }

.box:nth-child(8) {
  background: #ebebeb; }

.box:nth-child(9) {
  background: #e8e8e8; }

.box:nth-child(10) {
  background: #e6e6e6; }

.box:nth-child(11) {
  background: #e3e3e3; }
