/* you have to use css comments for your comment to show in the .css file */
main {
  background: tomato;
  font-family: "Trebuchet MS", sans-serif; }
  main > h1 {
    font-size: 3em;
    color: whitesmoke; }

.entry {
  width: 75%;
  margin: 0 auto; }
  .entry p {
    background-color: darkblue;
    color: whitesmoke; }
  .entry h1 {
    font-size: 1.5em;
    color: darkblue; }
  .entry a {
    color: tomato; }

aside {
  margin: 0 auto;
  border-radius: 0.1em;
  border-color: darkblue;
  border-top-right-radius: 0.4em;
  border-bottom-left-radius: 0.4em; }
  aside a {
    color: green; }
    aside a:hover {
      color: whitesmoke; }

button {
  border-radius: 0.3em;
  border-color: darkblue;
  border-top-right-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  background: whitesmoke; }

nav {
  height: 20px;
  width: 100%; }
  nav > div {
    float: left; }

nav {
  background-color: whitesmoke; }

.module {
  padding: 15px;
  width: 57.14286%; }

.blue {
  color: blue;
  background: url("images/blue.jpg") no-repeat; }

.red {
  color: red;
  background: url("images/red.jpg") no-repeat;
  border: 1px solid black; }

.yellow {
  color: yellow;
  background: url("images/yellow.jpg") no-repeat; }

.green {
  color: green;
  background: url("images/green.jpg") no-repeat; }

.block {
  padding: 0px; }

.div {
  padding: 20px; }
